<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>STeam</title>
    <meta name="description" content="Description of your site goes here">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
    <div id="header"> <img src="../static/images/logo.jpg" alt="" id="logo">
        <h1 id="logo-text">STeam</h1>
    </div>
    <div id="nav">
        <ul>
            <li><a href="/index">Ana Sayfa</a></li>
            <li><a href="/Kasa">Kasa&nbsp;</a></li>
            <li><a href="/Satis">Satis&nbsp;</a></li>
            <li><a href="/Stok">Stok</a></li>


        </ul>
    </div>
    <div id="site-content">
        <div id="col-left">
            <h1 class="h-text-1">Hosgeldiniz</h1>
            <p class="text-1"><strong>Ana Sayfa</strong> </p>
            <p class="border-1">&nbsp;</p>
            <p>
                Bu Siteden Veri Tabaninda olan tablolar hakkinda Raporlamalari yapabilirsiniz...
            </p>
        </div>
        <div id="col-right">
            <div style="padding: 30px 10px 10px;">
                <h2 class="h-text-2">Latest News</h2>
                <h3 class="h-text-3">00.00.0000</h3>
                <p class="text-2">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been .</p>
                <h3 class="h-text-3">00.00.0000</h3>
                <p class="text-2">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been .</p>
                <h3 class="h-text-3">00.00.0000</h3>
                <p class="text-2">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been .</p>
            </div>
            <div>&nbsp;</div>
            <div style="padding: 5px 10px;">
                <h2 class="h-text-2">Contact Info</h2>
            </div>
            <div
                    style="padding: 5px 10px 15px; background: rgb(216, 214, 215) none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">
                <p class="text-2"> 00/00 Lorem Ipsum is simply dummy text of the
                    printing and typesetting.<br>
                    <br>
                    E.mail: abc@Lorem Ipsum<br>
                    <br>
                    Fax: 000.000.0000<br>
                    <br>
                    Phone: 000.000.0000/<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    000.000.0000 </p>
            </div>
        </div>
    </div>
    <div id="footer">
        <!--DO NOT Remove The Footer Links-->
        <!--Designed by--><a href="http://www.htmltemplates.net">
        <img th:src="@{/images/footnote.gif}" class="copyright" alt="html templates"></a>
        <p>&copy; Copyright 2014. Designed by <a target="_blank"
                                                 href="http://www.htmltemplates.net">htmltemplates.net</a>
            <!--DO NOT Remove The Footer Links-->
        </p>
        <ul class="footer-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Recent articles</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Links</a></li>
        </ul>
    </div>
</div>
</body>
</html>